<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sudeep23.lollipoptabssample" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SlidingTabActivity"
            android:label="@string/title_activity_sliding_tab"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeWithoutActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sudeep23.lollipoptabssample.MainActivity" />
        </activity>
        <activity
            android:name=".FixedTabActivity"
            android:label="@string/title_activity_view_tab"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeWithoutActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sudeep23.lollipoptabssample.MainActivity" />
        </activity>
    </application>

</manifest>
